html { height:100%;}
body {height: 100%;}
#sigma-container { 
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 700px;
    height: 500px;
    background-color:white;
    border-radius: 3px;
    border: 1px solid black;
}

#title-chart{
text-align: center;
margin-top:90px;
margin-bottom: 20px;
}

body{
    background-color: whitesmoke;
}