body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#a-title{
  color: white;
  font-weight: 300;
  font-size: 35px;
  margin-right: 50px;
}

#a-chart{
  color:white;
  font-weight: 150;
  font-size:20px;
  margin-left: 5px;
}
.main-table{
  width: 50%;
  text-align: center;
}

th{
  color:white;
}


#alert-index{
  margin-top:10px;
  width: 300px;
  text-align: center;
  vertical-align: center;
  margin-left: 25%;
  margin-right: 25%;
}

.id-colum{
  font-weight: bold;
}

#table1{
  margin-top: 30px;
  width: 500px;
  vertical-align: center;
}

.add-user{
  width: 100%;
}

.my-custom-scrollbar {
  position: relative;
  max-height: 500px;
  overflow: auto;
  }
  .table-wrapper-scroll-y {
  display: block;
  }

#avatar{
  max-width: 100%;
  height: auto;

  display: block;
  margin-left: auto;
  margin-right: auto;
}



.hide{
  visibility: hidden;
}

.hide-permanent{
  visibility: hidden;
}

.user-info{
  width: 300px;
  margin-top: 50px;
}

#button-confirm{
  margin-top:10px;
}



/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 450px}

/* Set gray background color and 100% height */
.sidenav {
  margin-top: 30px;
  height: 100%;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height:auto;} 
}

#message-info{
  margin-right: 100px;
  font-weight: 400;
  width: 300px;
  margin-top: 10px;
  text-align: center;
  vertical-align: center;
  margin-left: 33%;
  margin-right: 33%;
}
