body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.main-table{
  width: 50%;
  text-align: center;
}

.id-colum{
  font-weight: bold;
}

#table1{
  margin-top: 50px;
  width: 500px;
  vertical-align: center;
}

.add-user{
  width: 100%;
}

.my-custom-scrollbar {
  position: relative;
  max-height: 500px;
  overflow: auto;
  }
  .table-wrapper-scroll-y {
  display: block;
  }

#avatar{
  max-width: 100%;
  height: auto;

  display: block;
  margin-left: auto;
  margin-right: auto;
}



.hide{
  visibility: hidden;
}

.user-info{
  width: 300px;
  margin-top: 50px;
}

#button-confirm{
  margin-top:200px;
}

.navbar-element{
  float: right;
}


/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 450px}

/* Set gray background color and 100% height */
.sidenav {
  padding-top: 20px;
  height: 100%;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height:auto;} 
}

