extends layout

block content

  .container
    .row 
      .col
        .container#selected-info
          .card
            img#avatar.card-img-top(src='https://www.w3schools.com/bootstrap4/img_avatar3.png') 
            .container.card-body
              h5 Id: idSelected
              h5 Name : nameSelected

      .col-6
          #table1.container.main-table.my-custom-scrollbar.table-wrapper-scroll-y
            table.table.table-striped.table-hover.border.border-primary.table-bordered
                thead.thead-dark
                  tr
                    th ID 
                    th NAME 
                    th SELECT
                tbody
                  each row in rows
                    tr
                      td= row['id']
                      td= row['name']
                      td
                       input(type='radio' name="rowSelect" value=row['id'])
      form(id='friends-form' method='get' action='/getFriends')
        .col
          .hide
              .container#selected-info
                .card
                  img#avatar.card-img-top(src='https://www.w3schools.com/bootstrap4/img_avatar3.png') 
                  .container.card-body
                    h5.selected-id
                    h5#selected-name
                    |
                    hr
                    | 
                    button.btn.btn-primary(type='submit')
                      | Find friends
                    input.selected-id(type='hidden' name='id' value='')
 

